@model IEnumerable<WebApp.Models.VideoGames.Game>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista Gier</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj nową grę</a>
</p>
<table class="table game-table">
    <thead>
    <tr>
        <th class="game-name-header">
            @Html.DisplayNameFor(model => model.GameName)
        </th>
        <th class="genre-header">
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th class="actions-header"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="game-name-cell">
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td class="actions-cell">
                <div class="btn-group">
                    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Id">Edit</a>
                    
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                    
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
